  /* Set font for entire page */

* {
  font-family: Calibri !important;
  color: #243244;
}
* {
  box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.75em;
  padding: 0 0.5em;
  background: #eef2f3;

  margin: 0;
  padding: 0;
}

/* set width of cell depending on the number of tiles per row */
#grid .cell_3 {
  flex-basis: calc(100% / 3);
  float: left;
  padding: 10px;
}

#grid .cell_4 {
  flex-basis: calc(100% / 4);
  float: left;
  padding: 10px;
}

#grid .cell_6 {
  flex-basis: calc(100% / 6);
  float: left;
  padding: 10px;
}


/* Resize the grid maintainig aspect ratio of 1x1 (a square) */
.tile {
  width: 100%;
  height: 0;
  position: relative;
}
.tile[data-ratio="square"] {
  padding-top: 100%;
}

.tile > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.container {
  justify-content: center;
}

.message {
  padding: 0.5em;
  color: #243244;
  font-size: 15px;
}

.heading {
  width: 200px;
  font-size: 2em;
}

.heading .left {
  float: left;
  margin-bottom: -10px;
  color: #2c3849 !important;
}

.heading .mainTitle {
  font-weight: bold;
}

.heading .right {
  float: right;
  margin-top: -8px;
}

.description {
  color: #243244 !important;
  font-size: 15px;
}

.description .descriptionHead {
  font-weight: bold;
  float: left;
}

.description .descriptionContent {
  float: left;
  text-align: left;
  clear: both;
}

.scoreSection {
  width: 200px;
  text-align: left;

  font-size: 20px;
  font-weight: bold;
}


#grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  max-width: 80vh;
  max-height: 80vh;
}

#grid .active {
  background: seagreen !important;
}

#grid .tile {
  background: #fcfcfd;
  box-shadow: 0 0 3px 0px #ccc;
  border-radius: 2px;
  margin: auto;
}

.menuSection {
  background: #eef2f3;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  width: 300px;
  padding-left: 40px;
}

.menuSection > div {
  margin-bottom: 40px;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px !important;
}
.scoreContainer > div {
  flex-direction: column;
  margin-bottom: 40px;
}

/* 
change the layout of the scores from verticle to horizontal 
on screens smaller than 800px in height
*/
@media only screen and (max-height: 800px) {
  .scoreContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px !important;;
  }

  .scoreContainer > div {
    margin-bottom: 5px;
  }

  .scoreContainer .scoretitle{
    font-size: 16px;
  }
}

@media only screen and (max-width: 900px) {
  .scoreContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px !important;;
  }

  .scoreContainer > div {
    margin-bottom: 5px;
  }

  .scoreContainer .scoretitle{
    font-size: 16px;
  }
}

/* hide the how to play section for screens smaller than 800px in width */
@media only screen and (max-height: 500px) {
  .description {
    display: none;
  }
}

/* hide the how to play section for screens smaller than 800px in width */
@media only screen and (max-width: 700px) {
  .description {
    display: none;
  }
}

.gameSection {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-right: 40px;
  width: calc(100vh - 300px);

  max-width: 80vh;
  max-height: 80vh;

  flex: 1;
  overflow: auto;
}

.container {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}



.buttonSection {
  color: white;
  font-size: 0.7em;
  display: flex;
  justify-content: space-between;
}

.buttonSection .button {
  cursor: pointer;
  color: white;
  font-size: 0.7em;
  background: #638ff3;
  padding: 10px;
  flex-grow: 1;
  margin: auto;
  box-shadow: 0 0 5px 2px #ccc;
}

.dificultySection {
  color: white;
  font-size: 0.7em;
  display: flex;
  justify-content: space-between;
}

.dificultySection .button {
  cursor: pointer;
  font-size: 0.7em;
  width: 40%;

  padding: 10px;

  border: solid thin #ccc;
}

.dificultySection .active {
  background: #638ff3;
  color: white;
}
